.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .login-form {
    background-color: #f9f9f9; /* Light background for better contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 100%;
    max-width: 400px; /* Limit the max width */
  }
  
  .login-title {
    margin-bottom: 20px;
    text-align: center; /* Center the title */
  }
  
  .login-field {
    margin-bottom: 15px; /* Space between fields */
  }
  
  .login-field label {
    display: block;
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold; /* Make labels bold */
  }
  
  .login-field input {
    width: 94%; /* Full width */
    padding: 10px; /* Add padding inside the input */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
  }
  
  .login-field input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove outline */
  }
  
  .modal {
    font-family: monospace;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange contents in a column */
    align-items: left; /* Center content horizontally */
    justify-content: left; /* Center content vertically */
    border: 2px solid #007bff; 
  }
  
  .ReactModal__Overlay {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    right: 0; /* Stretch to the right */
    bottom: 0; /* Stretch to the bottom */
    background: #5252528a; /* Semi-transparent background */
  }